* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}
.App {
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: Cambria, Cochin;
  width: 100%;
}
.main {
  background: #fefefe;
  width: 90%;
  border-radius: 2rem;
  margin: 1rem 0 10rem 0;
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(68, 68, 68, 0.6);
  display: flex;
}
.search {
  flex: 2;
  background: url("./img/bg1.jpg");
  background-size: cover;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.search-top {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.search-top h4 {
  font-size: 2rem;
}
.search-top div {
  flex: 1;
}
.search-top button {
  align-self: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(68, 68, 68, 0.6);
  border: none;
  color: #fff;
  padding: 0.6rem;
}

.search-top button div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-main {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-main h3 {
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.6rem rgba(87, 87, 87, 0.7);
}
.search-main .line {
  height: 0.5rem;
  background: #fff;
  margin: 0 0 2rem 0;
  width: 20%;
  border-radius: 0.2rem;
}
.select-parent {
  width: 80%;
}
.data {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 2rem 2rem;
}
.data1 {
  flex: 1;
}
.data1 h2 {
  font-size: 2.5rem;
}
.data1 .box {
  background: #fff;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(155, 155, 155, 0.6);
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}
.box div {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 0.7rem;
}
.box div:nth-child(1) {
  border-right: 3px solid var(--light3);
}
.box h1 {
  margin: 0;
  font-weight: bolder;
}
.box section {
  margin: 1rem 0;
  align-items: center;
  display: flex;
}
.box section span {
  font-size: 1.5rem;
}
.box p {
  font-size: 1.2rem;
}
.box div:nth-child(2) span {
  font-size: 1.1rem;
  margin: 4px 0;
}

.data2 {
  margin-top: 4rem;
  flex: 1;
  margin: 4rem 1rem 0 1rem;
}

.data2 h3 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.slider {
  margin: 0;
  max-height: 100%;
  display: flex;
  min-height: 0;
  flex-direction: row;
}

.slider-box {
  padding: 1rem;
  width: 30%;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px rgba(144, 144, 144, 0.6);
}
.slider-box h4 {
  color: rgb(56, 56, 56);
  margin: 0 0 1rem 0;
}
.slider-box img {
  align-self: center;
  text-align: center;
}
.slider-box h2 {
  margin: 0;
}
.slider-box h5 {
  margin: 0;
  font-size: 1.2rem;
}

.slick-slide {
  margin: 1rem 0;
  padding: 0 10px;
}
.slick-prev:before,
.slick-next:before {
  color: #24a0ed;
}

@media only screen and (max-width: 1250px) {
  .main {
    width: 90%;
  }
}
@media only screen and (max-width: 1050px) {
  .main {
    width: 90%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .search {
    border-radius: 0;
  }
  .search-top {
    padding: 0;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .search-top h4 {
    margin: 1rem 0;
  }
  .search-main div {
    text-align: center;
  }
  .select-parent {
    width: 80%;
  }
  .select-parent select {
    font-size: 2rem;
  }
  .data {
    margin: 0;
    padding-top: 1rem;
  }
}
